@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #f5deb3;
    font-family: 'Rock Salt', cursive;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    height: 64px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    text-decoration: none;
}


footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.logo-img {
    max-height: 60px; 
    cursor: pointer; 
    transition: transform 0.7s ease-in-out;
}

.logo-img:hover {
    transform: rotate(360deg);
}

.navigation ul {
    display: flex; 
    list-style: none; 
    padding: 0;
}

.navigation a {
    text-decoration: none; 
    color: #f5deb3; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.navigation a:hover {
    color: #867a64; 
}

.home-button {
    text-decoration: none; 
    color: #f5deb3; 
    font-weight: bold; 
    transition: color 0.3s; 
    margin-right: 50%;
}

.home-button:hover {
    color: #867a64; 
}

.video-main {
    position: relative;
    width: 1263px;
}

.video-main video {
    width: 1263px; 
    height: 600px; 
    object-fit: cover; 
}

.video-main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.9); 
    pointer-events: none;
    z-index: 10; 
}

.text-main1 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white; 
    z-index: 100; 
}

.text1 {
    color: wheat;
    font-size: 50px;
}

.text-secondary1{
    transition: all 0.3s ease;
}

.text-secondary1:hover{
    transform: scale(1.15);
}

.text-secondary2{
    transition: all 0.3s ease;
}

.text-secondary2:hover{
    transform: scale(1.15);
}

.text-secondary3{
    transition: all 0.3s ease;
}

.text-secondary3:hover{
    transform: scale(1.15);
}

.text-button1 {
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    padding: 0px 30px;
    background-color: #f5deb3;
    color: #000;
    border-radius: 40px;
    border: 1px solid black;
    transition: transform 0.2s, background-color 0.2s;
}

.text-button1:hover {
    transform: scale(1.08);
    background-color: #867a64;
}

.image-main1 {
    margin: 0;
    padding: 0;
    width: 1263px;
}

.galery-image::after {
    content: '';
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 710px;
    background: rgba(0, 0, 0, 0.6); 
    pointer-events: none;
    z-index: 100; 
}

.text-main2 {
    position: absolute;
    top: 160%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    z-index: 200; 
}

.text2 {
    color: wheat;
    font-size: 50px;
}

.text-button2 {
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    padding: 0px 30px;
    background-color: #f5deb3;
    color: #000;
    border-radius: 40px;
    border: 1px solid black;
    transition: transform 0.2s, background-color 0.2s;
}

.text-button2:hover {
    transform: scale(1.08);
    background-color: #867a64;
}

.image-main2 {
    width: 1263px;
}

.blog-image::after {
    content: '';
    position: absolute;
    top: 225%;
    left: 0;
    width: 100%;
    height: 850px;
    background: rgba(0, 0, 0, 0.6); 
    pointer-events: none;
    z-index: 300; 
}

.text-main3 {
    position: absolute;
    top: 290%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    z-index: 400; 
}

.text3 {
    color: wheat;
    font-size: 50px;
}

.text-button3 {
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    padding: 0px 30px;
    background-color: #f5deb3;
    color: #000;
    border-radius: 40px;
    border: 1px solid black;
    transition: transform 0.2s, background-color 0.2s;
}

.text-button3:hover {
    transform: scale(1.08);
    background-color: #867a64;
}

.pc-image1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 690px;
    background: rgba(0, 0, 0, 0.7); 
    pointer-events: none;
    z-index: 300; 
}

.text-create1 {
    position: absolute;
    top: 25%; 
    left: 10%; 
    color: white; 
    text-align: center;                          
    z-index: 400; 
    width: 430px;
}

.create-text1 {
    color: wheat;
    font-size: 50px;
}

.text-create-secondary1{
    transition: all 0.3s ease;
}

.text-create-secondary1:hover{
    transform: scale(1.15);
}

.image-create2 {
    width: 1262px;
}

.image-create1{
    margin-left: 50%;
}

.pc-image2::after {
    content: '';
    position: absolute;
    top: 118%;
    left: 0;
    width: 100%;
    height: 742px;
    background: rgba(0, 0, 0, 0.8); 
    pointer-events: none;
    z-index: 300; 
}

.text-create2 {
    position: absolute;
    top: 175%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    z-index: 400; 
    width: 530px;
}

.create-text2 {
    color: wheat;
    font-size: 50px;
}

.section1 {
    padding: 20px;
    text-align: center;
}

.section2 {
    padding: 20px;
    text-align: center;
}

.section3 {
    padding: 20px;
    text-align: center;
}

.section4 {
    padding: 20px;
    text-align: center;
}

.section5 {
    padding: 20px;
    text-align: center;
}

.section6 {
    padding: 20px;
    text-align: center;
}

.section7 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}


.button-group1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-group1 button {
    padding: 85px 100px;
    font-size: 28px;
    background-color: #000;
    color: #f5deb3;
    border: 2px solid #ccc;
    border-radius: 60px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.button-group1 button:hover {
    transform: scale(1.05);
    background-color: #867a64;
    color: #000;
}

.button-group2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-group2 button {
    padding: 85px 100px;
    font-size: 28px;
    background-color: #000;
    color: #f5deb3;
    border: 2px solid #ccc;
    border-radius: 60px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.button-group2 button:hover {
    transform: scale(1.05);
    background-color: #867a64;
    color: #000;
}

.button-group3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-group3 button {
    padding: 75px 90px;
    font-size: 28px;
    background-color: #000;
    color: #f5deb3;
    border: 2px solid #ccc;
    border-radius: 60px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.button-group3 button:hover {
    transform: scale(1.05);
    background-color: #867a64;
    color: #000;
}

.button-group4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-group4 button {
    padding: 75px 90px;
    font-size: 28px;
    background-color: #000;
    color: #f5deb3;
    border: 2px solid #ccc;
    border-radius: 60px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.button-group4 button:hover {
    transform: scale(1.05);
    background-color: #867a64;
    color: #000;
}

.button-group5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-group5 button {
    padding: 75px 90px;
    font-size: 28px;
    background-color: #000;
    color: #f5deb3;
    border: 2px solid #ccc;
    border-radius: 60px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.button-group5 button:hover {
    transform: scale(1.05);
    background-color: #867a64;
    color: #000;
}

.button-group6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-group6 button {
    padding: 75px 90px;
    font-size: 28px;
    background-color: #000;
    color: #f5deb3;
    border: 2px solid #ccc;
    border-radius: 60px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.button-group6 button:hover {
    transform: scale(1.05);
    background-color: #867a64;
    color: #000;
}

.button-group7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-group7 button {
    padding: 75px 90px;
    font-size: 28px;
    background-color: #000;
    color: #f5deb3;
    border: 2px solid #ccc;
    border-radius: 60px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.button-group7 button:hover {
    transform: scale(1.05);
    background-color: #867a64;
    color: #000;
}

.button.selected {
    background-color: #4caf50;
    color: white;
}

#results {
    margin: 30px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: center;
}

.checkbox-paste  {
    width: 30px;
}


.dynamic-list-container {
    display: none;
    margin: 20px 0px;
    padding: 20px 0px;
    border: 2px solid wheat;
    border-radius: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    visibility: hidden; /* Cache au départ */
}

.dynamic-list-container.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    visibility: visible; /* Rendre visible avec l'animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dynamic-list-container.show.animate {
    animation: fadeIn 0.5s ease-in-out;
}

.dynamic-list button {
    padding: 75px 90px;
    font-size: 28px;
    margin: 50px 10px 0px 10px;
    background-color: #000000;
    border: 2px solid #ffffff;
    color: #f5deb3;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dynamic-list button:hover {
    background-color: #867a64;
    color: rgb(0, 0, 0);
}

.dynamic-list button.selected {
    background-color: #4caf50;
    color: rgb(255, 255, 255);
}

.body{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
    width: 96%;
}

.images{
    display: flex;
}

.gallery-images{
    max-width: 380px;
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.2s ease;
}

.gallery-images:hover{
    transform: scale(1.03);
}

.text-gallery1{
    display: flex;
    margin: 60px 0px 50px 30%;
}

.text-gallery2{
    display: flex;
    margin: 40px 0px 50px 22%;
}

.main-div{
    margin: 100px 30px 0px 30px;
}

.blog-messages{
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 20px;
    padding: 15px;
    color: white;
}

.blog-main-text-div{
    text-align: center;
    width: 800px;
    margin-left: 18%;
    display: flex;
    flex-direction: row;
}

.blog-main-text{
    font-size: 27px;
    text-decoration: underline;
}

.blog-responce{
    box-shadow: 4px 4px 4px white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    width: 600px;
    margin: 50px 20px 10px 20px;
    transition: all 0.5s ease-in-out;
}

.blog-responce:hover{
    transform: translate(4px, 4px);
    box-shadow: none;
}


.blog-responce h4{
    color: wheat;
}
.blog-responce p{
    margin-left: 10px;
}

.blog-responce-person{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.head-text{
    margin: 65px 30px 0 30px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,pink, wheat);
    border-radius: 20px;
    color : #fff;
    height: 350px;
    justify-content: center;
    transition: all 0.7s ease;
}

.head-text:hover{
    background: linear-gradient(to right,wheat, pink);
    transform: scale(1.05);
}

.head-text-1{
    margin: 0 0 0 17%;
    transform: translate(-70px, 0px);
}

.head-text-1-catalogue{
    text-align: center;
}

.head-text-2{
    width: 60%;
    text-align: center;
    margin: 0 0 0 25%;
    transform: translate(-30px, 0px);
}

.new-product-image{
    width: 95%;
    margin: 30px 30px 0 30px;
    height: 400px;
    background: linear-gradient(to right,transparent , 80%, rgb(102, 92, 244));
    border-radius: 20px;
    transition: all 0.7s ease;
    display: flex;
}

.new-product-image:hover{
    transform: scale(1.05);
    background: linear-gradient(to right,rgb(102, 92, 244) , 80%, transparent);
    color: #fff;
}

.new-product-image:hover .text-about-new-pc{
    color: #fff;
    transform: translate(100px, 0px);
}

.new-product-image:hover .new-pc-img{
    transform: translate(200px, 0px);
}

.new-pc-img{
    z-index: 1;
    margin: 0 0 0 10%;
    background-image: url(/img/new-pc.png);
    transition: all 0.7s ease;
}

.new-pc-text{
    padding: 50px 0 0 100px;
    color: #000;
}

.text-about-new-pc{
    transition: all 0.5s ease;
}

.text-about-new-pc-p{
    width: 300px;
    transition: all 0.5s ease;
    text-align: center;
}

.new-product-image:hover .text-about-new-pc-p{
    color: #fff;
    transform: translate(100px, 0px);
}

.about-click-button1{
    transition: all 0.5s ease;
}

.new-product-image:hover .about-click-button1{
    color: #fff;
    transform: translate(100px, 0px);
    font-weight: 900;
}

.about-click-button1:hover{
    cursor: pointer;
}

.new-pc-hover-text{
    color: #fff;
    margin: 100px 0 0 50px;
}

.new-product-image:hover .new-pc-hover-text{
    display: none;
}

.our-products-text{
    color: #fff;
    width: 100%;
    padding: 10% 0 10% 0%;
    text-align: center;
    background: linear-gradient(to bottom,rgb(0, 0, 0), rgb(255, 255, 255));
}

.new-products-text{
    color: black;
    margin: 0 0 5% 40%;
}

.products{
    padding: 3% 0 3% 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.product{
    display: flex;
    flex-direction: row;
    background-color: #000;
    width: 95%;
    margin: 0 2% 2% 2%;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: #000 0px 0px 20px;
    transition: all 0.7s ease;
}

.product:hover{
    transform: scale(1.03);
}

.product-image{
    margin: 0 10% 0 5%;
    max-width: 300px;
}

.pc-description{
    text-align: center;
    margin: 4% 4% 0 0;
    color: #fff;
    width: 50%;
}

.buy-button{
    padding:10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    transition: all 0.7s ease;
}

.buy-button:hover{
    transform: scale(1.3);
    background-color: rgb(206, 206, 206);
}