@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    font-family: 'Rock Salt', cursive;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #f5deb3;
}

.header-main {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 64px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    text-decoration: none;
}


footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.logo-img {
    max-height: 60px; 
    cursor: pointer; 
    transition: transform 0.7s ease-in-out;
}

.logo-img:hover {
    transform: rotate(360deg);
}

.navigation ul {
    display: flex; 
    list-style: none; 
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none; 
    color: #f5deb3; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.navigation a:hover {
    color: #867a64; 
}

.video-main {
    position: relative;
    width: 1263px;
}

.video-main video {
    width: 1263px; 
    height: 600px; 
    object-fit: cover; 
}

.video-main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.9); 
    pointer-events: none;
    z-index: 10; 
}

.text-main1 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white; 
    z-index: 100; 
}

.text1 {
    color: wheat;
    font-size: 50px;
}

.text-button1 {
    font-size: 25px;
    padding: 0px 30px;
    background-color: #f5deb3;
    color: #000;
    border-radius: 40px;
    border: 1px solid black;
}

.text-button1:hover {
    background-color: #867a64;
}

.image-main1 {
    margin: 0;
    padding: 0;
    width: 1263px;
}

.galery-image::after {
    content: '';
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 710px;
    background: rgba(0, 0, 0, 0.6); 
    pointer-events: none;
    z-index: 100; 
}

.text-main2 {
    position: absolute;
    top: 160%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    z-index: 200; 
}

.text2 {
    color: wheat;
    font-size: 50px;
}

.text-button2 {
    font-size: 25px;
    padding: 0px 30px;
    background-color: #f5deb3;
    color: #000;
    border-radius: 40px;
    border: 1px solid black;
}

.text-button2:hover {
    background-color: #867a64;
}

.image-main2 {
    width: 1263px;
}

.blog-image::after {
    content: '';
    position: absolute;
    top: 225%;
    left: 0;
    width: 100%;
    height: 850px;
    background: rgba(0, 0, 0, 0.6); 
    pointer-events: none;
    z-index: 300; 
}

.text-main3 {
    position: absolute;
    top: 290%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    z-index: 400; 
}

.text3 {
    color: wheat;
    font-size: 50px;
}

.text-button3 {
    font-size: 25px;
    padding: 0px 30px;
    background-color: #f5deb3;
    color: #000;
    border-radius: 40px;
    border: 1px solid black;
}

.text-button3:hover {
    background-color: #867a64;
}


